@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body{
  padding: 0;
  margin: 0;
}

.no-tailwind,
.no-tailwind * {
  all: revert;
  margin: 0;
}

#root{
  width: 100%;
  min-height: 100vh;
  font-family: Verdana,Geneva,sans-serif; 
}

button{
  cursor: pointer;
}