@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --main-bg-color: white;
}

body{
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  width: 100%;
  font-family: Verdana,Geneva,sans-serif; 
  background-color: var(--main-bg-color);
}

button{
  cursor: pointer;
}