@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --main-bg-color: white;
}

body{
  padding: 0;
  margin: 0;
}

.no-tailwind,
.no-tailwind * {
  all: revert;
}

#root {
  height: 100vh;
  width: 100%;
  font-family: Verdana,Geneva,sans-serif; 
  background-color: var(--main-bg-color);
}

button{
  cursor: pointer;
}